*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 1270px;
    margin: 0 auto;
    text-align: center;
}

#head{
    animation: head 1s ease-in-out alternate infinite;
    transform-origin: center;
    transform-box: fill-box;
}

.byke{
    padding: 50px 0;
}

#byke{
    animation: bykeAnim 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

#left,
#right{
    animation: wheel 2s linear infinite;
    /* transition: wheel 2s linear infinity; */
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes head{
    from{
        transform: translateY(0%) rotateZ(0deg);
    }to{
        transform: translateY(40%) rotateZ(20deg);
    }
}

@keyframes bykeAnim{
    from{
        transform: rotateX(0deg);
    }to{
        transform: rotateX(17deg);
    }
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);   
    }to{
        transform: rotateZ(360deg);
    }
}

